<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>صفحه راهبر سامانه</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div style="margin-top: 200px">
    <a class="btn btn-info btn-lg btn-block" role="button" th:href="@{/admin/signup}">اضافه کردن کاربر جدید</a>
</div>

<div style="margin-top: 20px">
    <a class="btn btn-info btn-lg btn-block" role="button" th:href="@{/admin/list}">لیست کاربران سایت</a>
</div>
<div style="margin-top: 20px">
    <a class="btn btn-info btn-lg btn-block" role="button" th:href="@{/subjects}">مدیریت موضوعات</a>
</div>

</body>
</html>