<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>لیست کاربران</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<table dir="rtl" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>نام کاربری</th>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>موبایل</th>
        <th>کد ملی</th>
        <th>ایمیل</th>
        <th>نوع</th>
        <th>فعال</th>
        <th>جزئیات</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.nationalCode}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.roles}"></td>
        <td th:text="${user.enabled}"></td>
        <td><span th:unless="${user.username == #authentication.name}"><a th:href="@{/admin/showFormForUpdate(Id=${user.getId()})}" class="btn btn-warning">ویرایش کاربر</a></span>
        &nbsp;&nbsp;&nbsp;<span th:if="${#strings.equals(user.roles, '[ROLE_INVESTOR]')}"><a th:href="@{/admin/listRequestsInvestor(Id=${user.getId()})}" class="btn btn-success">لیست درخواست ها</a></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>