<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>مشاهده درخواست</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:object="${request}">
    <div dir="rtl" class="form-group">

        <div align="center">
            <div style="margin-bottom: 25px">
                <div class="well" th:if="${request.status.name() == 'STATUS_CONSIDERATION'}">
                    <h2>پاسخ به درخواست</h2>
                </div>
                <div class="well" th:if="${request.status.name() == 'STATUS_ANSWERED'}">
                    <h2>مشاهده درخواست و پاسخ</h2>
                </div>
                <div class="well" th:if="${request.status.name() == 'STATUS_CLOSED'}">
                    <h2>مشاهده درخواست و پاسخ</h2>
                </div>
            </div>
        </div>

        <div>
            <input th:field="*{id}" type="hidden">
        </div>

        <div>
            <input th:field="*{user}" type="hidden">
        </div>

        &nbsp;&nbsp;
        <label for="subject">موضوع</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <input class="form-control selectpicker" th:field="*{subject.title}" id="subject" readonly>
        </div>
        <br>

        &nbsp;&nbsp;<label for="description">شرح</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <textarea id="description" class="form-control" th:field="*{description}" rows="5" readonly></textarea>
        </div>

        <div>
            <input th:field="*{status}" type="hidden">
        </div>

        <br>
        &nbsp;&nbsp;

        <label for="status">وضعیت</label>
        <div id="status" style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <div class="well" th:if="${request.status.name() == 'STATUS_CONSIDERATION'}">
                &nbsp;&nbsp; در انتظار پاسخ
            </div>
            <div class="well" th:if="${request.status.name() == 'STATUS_ANSWERED'}">
                &nbsp;&nbsp;پاسخ داده شده
            </div>
            <div class="well" th:if="${request.status.name() == 'STATUS_CLOSED'}">
                &nbsp;&nbsp;بسته شده
            </div>

        </div>

        <br>
        &nbsp;&nbsp;

        <label>پیوست</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <div class="well">
                <tr th:each="file : ${request.file}">
                    <td th:text="${file.getFileName()}"></td>
                    <a th:href="@{'/downloadFile/'+${file.id}}" role="button">دانلود</a>
                    &nbsp;&nbsp;&nbsp;
                </tr>
            </div>
        </div>
    </div>

    <br>
    &nbsp;&nbsp;

    <hr>
</div>

<form th:action="@{/responsible/sendResponse}" th:object="${response}" method="post">
    <div dir="rtl" class="form-group">
        <div align="center">
            <div style="margin-bottom: 25px">

                <div class="well">
                    <h1>پاسخ مسئول رسیدگی به درخواست</h1>
                </div>
            </div>
        </div>

        <div>
            <input th:field="*{forUser}" type="hidden">
        </div>

        <div>
            <input th:field="*{request}" type="hidden">
        </div>

        <div>
            <input th:field="*{fromUser}" type="hidden">
        </div>

        &nbsp;&nbsp;<label for="des">پاسخ</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <textarea id="des" class="form-control" th:field="*{description}" rows="5" required></textarea>
        </div>

    <span th:if="${request.status.name() == 'STATUS_CONSIDERATION'}">
    <div align="center">
        <div style="margin-top: 10px" class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">ارسال پاسخ</button>
        </div>
    </div>
    </span>
    </div>
</form>
</body>
</html>