<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>مشاهده درخواست</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<form th:action="@{/investor/updateRequest}" th:object="${request}" method="post">
    <div dir="rtl" class="form-group">

        <div align="center">
            <div style="margin-bottom: 25px">
                <div class="well">
                    <h2>مشاهده درخواست</h2>
                </div>
            </div>
        </div>

        <div>
            <input th:field="*{id}" type="hidden">
        </div>

        <div>
            <input th:field="*{user}" type="hidden">
        </div>

        &nbsp;&nbsp;
        <label for="subject">موضوع</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <select class="form-control selectpicker" th:field="*{subject}" id="subject" th:errorclass="fieldError"
                    required>
                <option value="">یک موضوع را انتخاب کنید</option>
                <option th:each="sub : ${subjects}"
                        th:value="${sub.id}"
                        th:text="${sub.title}">
                </option>
            </select>
        </div>
        <br>

        &nbsp;&nbsp;
        <label for="description">شرح</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <textarea id="description" class="form-control" th:field="*{description}" rows="5" required></textarea>
        </div>
        <div th:if="${#fields.hasErrors('description')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
            </ul>
        </div>

        <div>
            <input th:field="*{status}" type="hidden">
        </div>

        <br>
        &nbsp;&nbsp;

        <label for="status">وضعیت</label>
        <div id="status" style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <div class="well" th:if="${request.status.name() == 'STATUS_CONSIDERATION'}">
                &nbsp;&nbsp; در انتظار پاسخ
            </div>
            <div class="well" th:if="${request.status.name() == 'STATUS_ANSWERED'}">
                &nbsp;&nbsp;پاسخ داده شده
            </div>
            <div class="well" th:if="${request.status.name() == 'STATUS_CLOSED'}">
                &nbsp;&nbsp;بسته شده
            </div>

        </div>

        <br>
        &nbsp;&nbsp;

        <label>پیوست</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
        </div>
        <!--    <div th:if="${#fields.hasErrors('description')}"-->
        <!--         style="margin-bottom: 25px" class="text-danger">-->
        <!--        <ul>-->
        <!--            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>-->
        <!--        </ul>-->
        <!--    </div>-->
    </div>

    <br>
    &nbsp;&nbsp;

    <div th:if="${request.status.name() == 'STATUS_CONSIDERATION'}">
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">به روز رسانی</button>
            </div>
        </div>
    </div>
</form>

<br>
<hr>

<div th:unless="${request.status.name() == 'STATUS_CONSIDERATION'}">
    <div dir="rtl">
        <div align="center">
            <div style="margin-bottom: 25px">

                <div class="well">
                    <h1>پاسخ مسئول رسیدگی به درخواست</h1>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;<label for="responsible">نام کاربری مسئول پاسخ دهنده</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <input id="responsible" class="form-control" th:field="*{response.fromUser.username}" rows="5" readonly>
        </div>

        &nbsp;&nbsp;<label for="des">پاسخ</label>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"></span>
            <textarea id="des" class="form-control" th:field="*{response.description}" rows="5" readonly></textarea>
        </div>
    </div>
</div>

<div th:if="${request.status.name() == 'STATUS_ANSWERED'}">

    <form th:action="@{/investor/closeRequest(Id=${request.getId()})}" method="post">
        <div style="margin-top: 10px" class="form-group">
           <button type="submit" class="btn btn-primary btn-lg btn-block">بستن درخواست</button>
        </div>
    </form>
</div>
</body>
</html>