<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>صفحه ورود</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
<body>
<div align="center" class="jumbotron">

    <h1>فرم ورود</h1>
    <p class="label label-default">ورود به سامانه مدیریت درخواست کارگزاری دودمان سرمایه</p>

    <div>
        <a href="/register/signup" class="btn btn-primary" role="button" aria-pressed="true">ثبت نام در سامانه</a>
    </div>
</div>

<form th:action="@{/authenticateTheUser}" method="post">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" name="username" id="username" placeholder="نام کاربری را وارد کنید">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" name="password" id="password" placeholder="رمز عبور را وارد کنید">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="ورود">
    </div>
</form>

</body>
</html>